[submodule "framework"]
	path = framework
	url = git@github.com:Truemedia/mindstack.git
[submodule "cli"]
	path = cli
	url = git@github.com:Truemedia/mindstack-cli.git
[submodule "code"]
	path = code
	url = git@github.com:Truemedia/hightech.git
